In [266]:
import numpy as np
import pandas as pd

df = pd.read_csv('UCI_Credit_Card.csv')
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [267]:
df = df.drop(['ID'], axis=1)

In [268]:
# df['BILL_AMT4'] = (df['BILL_AMT4']-df['BILL_AMT4'].mean())/df['BILL_AMT4'].std()
df_stand = df[['LIMIT_BAL', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']]
# df[[]] = (df[['BILL_AMT4', 'BILL_AMT5']]-df[['BILL_AMT4', 'BILL_AMT5']].mean())/df[['BILL_AMT4', 'BILL_AMT5']].std()
df_stand = (df_stand-df_stand.mean())/df_stand.std()
df[['LIMIT_BAL', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']] = df_stand

In [269]:
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,-1.136701,2,2,1,24,2,2,-1,-1,-2,...,-0.672486,-0.663047,-0.652713,-0.341936,-0.227082,-0.296796,-0.308057,-0.314131,-0.293377,1
1,-0.365974,2,2,2,26,-1,2,0,0,0,...,-0.621626,-0.606219,-0.597956,-0.341936,-0.213584,-0.240001,-0.244226,-0.314131,-0.180875,1
2,-0.597192,2,2,2,34,0,0,0,0,0,...,-0.449723,-0.417181,-0.391623,-0.250287,-0.191884,-0.240001,-0.244226,-0.248679,-0.012122,0
3,-0.905483,2,2,1,37,0,0,0,0,0,...,-0.232369,-0.186726,-0.156576,-0.221187,-0.169358,-0.228641,-0.237842,-0.244162,-0.237126,0
4,-0.905483,1,2,1,57,-1,0,-1,0,0,...,-0.346991,-0.348131,-0.331476,-0.221187,1.335012,0.271161,0.266429,-0.269034,-0.255183,0

In [270]:
X_train = df[:27000].drop(['default.payment.next.month'], axis=1)
Y_train = df['default.payment.next.month'][:27000]

X_test = df[27000:].drop(['default.payment.next.month'], axis=1)
Y_test = df['default.payment.next.month'][27000:]

print("X_train.shape: {}".format(X_train.shape))
print("Y_train.shape: {}".format(Y_train.shape))
print("X_test.shape: {}".format(X_test.shape))
print("Y_test.shape: {}".format(Y_test.shape))

X_train.shape: (27000, 23)
Y_train.shape: (27000,)
X_test.shape: (3000, 23)
Y_test.shape: (3000,)

In [271]:
# 2
from sklearn.linear_model import SGDClassifier
clf = SGDClassifier(verbose=4, max_iter=3)
clf.fit(X_train, Y_train)

-- Epoch 1
Norm: 116.89, NNZs: 23, Bias: -36.562394, T: 27000, Avg. loss: 259.521347
Total training time: 0.00 seconds.
-- Epoch 2
Norm: 61.54, NNZs: 23, Bias: -33.254572, T: 54000, Avg. loss: 51.261573
Total training time: 0.01 seconds.
-- Epoch 3
Norm: 42.71, NNZs: 23, Bias: -29.688053, T: 81000, Avg. loss: 30.648688
Total training time: 0.01 seconds.

SGDClassifier(alpha=0.0001, average=False, class_weight=None, epsilon=0.1,
       eta0=0.0, fit_intercept=True, l1_ratio=0.15,
       learning_rate='optimal', loss='hinge', max_iter=3, n_iter=None,
       n_jobs=1, penalty='l2', power_t=0.5, random_state=None,
       shuffle=True, tol=None, verbose=4, warm_start=False)

In [272]:
# X1_train = X_train[:50]
# Y1_train = Y_train[:50]
from sklearn.linear_model import LogisticRegression

In [273]:
# h = 0.01
# X_min = X1_train.min()-1
# Y_min = Y1_train.min()-1
# X_max = X1_train.max()+1
# Y_max = Y1_train.max()+1
# xx, yy = np.meshgrid(np.arange(X_min[0], X_max[0], h),
#                      np.arange(Y_min, Y_max, h))

In [274]:
# XX = np.zeros((X1_train.T.shape[0],1))
# for i in range(X1_train.shape[1]):
#      np.meshgrid(np.arange(X_min[i], X_max[i], h))

In [275]:
clf = LogisticRegression()
clf.fit(X_train, Y_train.ravel())

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [276]:
y_pred = clf.predict(X_train)
y_pred

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)

In [277]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_train, y_pred)

0.8104074074074074

In [278]:
print(clf.coef_)
print(clf.intercept_)

[[-0.09418338 -0.09820301 -0.10687821 -0.14735307  0.00683562  0.57170904
   0.08551785  0.07364648  0.00193281  0.05032049  0.00749474 -0.48806449
   0.24307036  0.04006444  0.05680468  0.055629   -0.01018494 -0.25670917
  -0.2038526  -0.07812605 -0.05364972 -0.02979903 -0.0508712 ]]
[-1.0759925]

In [279]:
# 3
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge

In [280]:
steps = [
    ('scalar', StandardScaler()),
    ('poly', PolynomialFeatures(degree=2)),
    ('model', Ridge(alpha=0.5, fit_intercept=True))
]

ridge_pipe = Pipeline(steps)
ridge_pipe.fit(X_train, Y_train)

Pipeline(memory=None,
     steps=[('scalar', StandardScaler(copy=True, with_mean=True, with_std=True)), ('poly', PolynomialFeatures(degree=2, include_bias=True, interaction_only=False)), ('model', Ridge(alpha=0.5, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001))])

In [281]:

print('Training Score: {}'.format(ridge_pipe.score(X_train, Y_train)))
print('Test Score: {}'.format(ridge_pipe.score(X_test, Y_test)))

Training Score: 0.17665150541372987
Test Score: -1.0223461869803407

In [282]:
print(clf.coef_)
print(clf.intercept_)

[[-0.09418338 -0.09820301 -0.10687821 -0.14735307  0.00683562  0.57170904
   0.08551785  0.07364648  0.00193281  0.05032049  0.00749474 -0.48806449
   0.24307036  0.04006444  0.05680468  0.055629   -0.01018494 -0.25670917
  -0.2038526  -0.07812605 -0.05364972 -0.02979903 -0.0508712 ]]
[-1.0759925]