In [384]:
import numpy as np
import pandas as pd

df = pd.read_csv('UCI_Credit_Card.csv')
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [385]:
#1. Предобработайте данные и разделите их на тренировочный и тестовый датасеты.

In [386]:
#Удаление лишних колонок
df = df.drop(['ID'], axis=1)

In [387]:
# Стандартизация
df_stand = df[['LIMIT_BAL', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']]
df_stand = (df_stand-df_stand.mean())/df_stand.std()
df[['LIMIT_BAL', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']] = df_stand
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,-1.136701,2,2,1,24,2,2,-1,-1,-2,...,-0.672486,-0.663047,-0.652713,-0.341936,-0.227082,-0.296796,-0.308057,-0.314131,-0.293377,1
1,-0.365974,2,2,2,26,-1,2,0,0,0,...,-0.621626,-0.606219,-0.597956,-0.341936,-0.213584,-0.240001,-0.244226,-0.314131,-0.180875,1
2,-0.597192,2,2,2,34,0,0,0,0,0,...,-0.449723,-0.417181,-0.391623,-0.250287,-0.191884,-0.240001,-0.244226,-0.248679,-0.012122,0
3,-0.905483,2,2,1,37,0,0,0,0,0,...,-0.232369,-0.186726,-0.156576,-0.221187,-0.169358,-0.228641,-0.237842,-0.244162,-0.237126,0
4,-0.905483,1,2,1,57,-1,0,-1,0,0,...,-0.346991,-0.348131,-0.331476,-0.221187,1.335012,0.271161,0.266429,-0.269034,-0.255183,0

In [388]:
X_train = df[:27000].drop(['default.payment.next.month'], axis=1)
Y_train = df['default.payment.next.month'][:27000]

X_test = df[27000:].drop(['default.payment.next.month'], axis=1)
Y_test = df['default.payment.next.month'][27000:]

print("X_train.shape: {}".format(X_train.shape))
print("Y_train.shape: {}".format(Y_train.shape))
print("X_test.shape: {}".format(X_test.shape))
print("Y_test.shape: {}".format(Y_test.shape))

X_train.shape: (27000, 23)
Y_train.shape: (27000,)
X_test.shape: (3000, 23)
Y_test.shape: (3000,)

In [389]:
#2. Создайте простейший классификатор без регуляризации и обучите его на тренировочных данных.

In [390]:

# from sklearn.linear_model import SGDClassifier
# clf = SGDClassifier(verbose=4, max_iter=3)
# clf.fit(X_train, Y_train)
# y_pred = clf.predict(X_train)
# y_pred.sum()

In [391]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(X_train, Y_train.ravel())

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [392]:
y_pred = clf.predict(X_train)
y_pred

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)

In [393]:
# 3. Создайте простейший классификатор с регуляризацией и обучите его на тех же тренировочных данных.

In [394]:
clf_rgl = LogisticRegression(penalty='l1')
clf_rgl.fit(X_train, Y_train.ravel())

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l1', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [395]:
y_pred_rgl = clf_rgl.predict(X_train)
y_pred_rgl

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)

In [396]:
# 4. Сравните точность двух классификаторов.

In [397]:
from sklearn.metrics import accuracy_score
print('accuracy: ', accuracy_score(Y_train, y_pred))
print('regularized accuracy: ', accuracy_score(Y_train, y_pred_rgl))

accuracy:  0.8104074074074074
regularized accuracy:  0.8102222222222222

In [398]:
# # 3
# from sklearn.preprocessing import PolynomialFeatures
# from sklearn.pipeline import Pipeline
# from sklearn.preprocessing import StandardScaler
# from sklearn.linear_model import Ridge

# steps = [
#     ('scalar', StandardScaler()),
#     ('poly', PolynomialFeatures(degree=2)),
#     ('model', Ridge(alpha=0.5, fit_intercept=True))
# ]

# ridge_pipe = Pipeline(steps)
# ridge_pipe.fit(X_train, Y_train)


# print('Training Score: {}'.format(ridge_pipe.score(X_train, Y_train)))
# print('Test Score: {}'.format(ridge_pipe.score(X_test, Y_test)))

In [399]:
#5. Оцените precision и recall для каждого из результатов.

In [400]:
# precision_train = (Y_train == y_pred)/(y_pred == '1')

from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

print('precision_score: ', precision_score(Y_train, y_pred, pos_label=1))
print('recall_score: ', recall_score(Y_train, y_pred, pos_label=1))
print('regularized precision_score: ', precision_score(Y_train, y_pred_rgl, pos_label=1))
print('regularized recall_score: ', recall_score(Y_train, y_pred_rgl, pos_label=1))

precision_score:  0.7152217741935484
recall_score:  0.23756906077348067
regularized precision_score:  0.7138539042821158
regularized recall_score:  0.23723422065963504

In [401]:
#для тестовых датасетов
y_test_pred = clf.predict(X_test)
y_test_pred_reg = clf_rgl.predict(X_test)
print('accuracy: ', accuracy_score(Y_test, y_test_pred))
print('regularized accuracy: ', accuracy_score(Y_test, y_test_pred_reg))

print('precision_score: ', precision_score(Y_test, y_test_pred, pos_label=1))
print('recall_score: ', recall_score(Y_test, y_test_pred, pos_label=1))
print('regularized precision_score: ', precision_score(Y_test, y_test_pred_reg, pos_label=1))
print('regularized recall_score: ', recall_score(Y_test, y_test_pred_reg, pos_label=1))

accuracy:  0.8133333333333334
regularized accuracy:  0.813
precision_score:  0.7536945812807881
recall_score:  0.23076923076923078
regularized precision_score:  0.7524752475247525
regularized recall_score:  0.22926093514328807